.view-container {
  padding-left: 120px;
  padding-right: 120px;

  @media (max-width: 768px) {
    padding-left: 100px;
    padding-right: 100px;
  }

  @media (max-width: 576px) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media (max-width: 480px) {
    padding-left: 75px;
    padding-right: 75px;
  }

  @media (max-width: 360px) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.sub-hero {
  line-height: 36px;
  font-size: 1.5rem;

  @media (max-width: 768px) {
    line-height: 35px;
    font-size: 1.7rem;
  }

  @media (max-width: 576px) {
    line-height: 35px;
    font-size: 1.65rem;
  }

  @media (max-width: 480px) {
    line-height: 32px;
    font-size: 1.47rem;
  }

  @media (max-width: 360px) {
    line-height: 30px;
    font-size: 1.27rem;
  }
}
